doctype html
html(lang='en')
    head
        title=title
        meta(charset='utf-8')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type="text/javascript", src='https://cdn.plot.ly/plotly-latest.min.js')
        link(rel='stylesheet', href='/stylesheets/external-css/bootstrap.css')
        script(src='/javascripts/external-js/FileSaver.min.js')
        script(src='/javascripts/external-js/jquery.min.js')
        script(src='/javascripts/external-js/bootstrap.min.js')
        script(src='/javascripts/bgc_functions.js')
    body

    block content
        div(class='selection_and_catalog_page')
            h1 BGC page for profile id: #{title}
            table(style='width:100%',border='0')
                tr
                    td Date: #{profileDate}
                    td Links to other Argovis pages:
                tr
                    td Cycle number: #{profile.cycle_number}
                    td 
                        a(href='/catalog/platforms/'+ platform_number + '/page' target='_blank') Link to platform #{profile.platform_number} page                                          
                tr
                    td Latitude: #{profile.strLat}
                    td 
                        a(href='/' ) Back to map                    
                tr
                    td Longitude: #{profile.strLon}
                    td
                        a(href='/catalog/profiles/'+ title + '/page' target='_blank') Back to core profile page
                tr
                    td Position QC: #{profile.position_qc}
                    td External links:                       
                tr
                    td Dac: #{profile.dac}
                    td 
                        a(href=profile.nc_url) Link to profile data on Argo GDAC   
                tr
                    td Parameters reported in NC file: #{paramKeys}
                    td 
                        a(href=profile.ifremerProfile target='_blank') Link to Ifremer visualization of this profile
                tr
                    td Positioning system: #{profile.POSITIONING_SYSTEM}
                    td 
                        a(href=profile.jcompsPlatform target='_blank') Link to platform on JCOMMOPS
                tr
                    td Platform type: #{profile.PLATFORM_TYPE}
                tr
                    td Data mode: #{profile.DATA_MODE}
            button.btn.btn-primary.btn-block(type='submit', id='downloadProfiles') Download data as JSON
    div(class="grid-container", id='chart-grid')

    script(type='text/javascript').
        sp = '!{paramKeys}'
        sp = sp.split(',')
        sp = sp.filter(s => s.toLowerCase())

        var parent = document.getElementById('chart-grid');
        plotDivs = {}
        for (idx in sp ){
            paramKey = sp[idx]
            if (paramKey==='pres') {continue}
            plotDivs[paramKey] = document.createElement('div');
            plotDivs[paramKey].setAttribute("id", paramKey+'_chart');
            console.log(paramKey+'_chart')
            
            parent.append(plotDivs[paramKey]);
        }

    script(type='text/javascript').

        var meas = [!{profile.bgcMeas}];
        
        meas = collateMeasurements(meas);
        pres = meas['pres']
        presQc = meas['pres_qc']
        delete meas['pres'];
        delete meas['pres_qc'];
        let paramKeys = '!{paramKeys}'
        paramKeys = paramKeys.split(',')
        paramKeys = paramKeys.filter(s => s)
        delete paramKeys['pres'];
        const qcKeys = paramKeys.map(x => x + '_qc');\
        var plotAxes = {}

        for (let idx=0; idx<paramKeys.length; idx++) {
            const key = paramKeys[idx].toLowerCase()
            if (key ==='pres') { continue }
            const paramMeas = meas[key]
            const paramQC = meas[key + '_qc']\
            if (!qcKeys.includes(key+'_qc') ) { continue } //include param if param_qc exists
            presVsParamMask = getMaskForPair(paramMeas, pres)
            presForParam = pres.filter((item, i) => presVsParamMask[i]);
            presQcForParam = presQc.filter((item, i) => presVsParamMask[i]);

            paramForPres = paramMeas.filter((item, i) => presVsParamMask[i]);
            paramQcForPres = paramQC.filter((item, i) => presVsParamMask[i]);
            //console.log(key)
            plotAxes[key] = { 'pres': presForParam.map(roundArray), 'pres_qc': presQcForParam, 'param': paramForPres.map(roundArray), 'qc': paramQcForPres}
        }

        traces = []
        let layout = {
            title: "Profile measurements",
            autosize: false,
            height: 400, 
            width: 400,
            hovermode: "closest", 
            showlegend: false
        }

        for (let idx=0; idx<paramKeys.length; idx++) {
            const key = paramKeys[idx].toLowerCase()
            if (key ==='pres') { continue }
            let traceParam = getTraceParams(key, idx)
            traceParam['xvalues'] = plotAxes[key].param
            traceParam['xqc'] = plotAxes[key].qc
            traceParam['yvalues'] = plotAxes[key].pres
            traceParam['yqc'] = plotAxes[key].pres_qc
            
            trace = makeTrace(traceParam, key)
            traces.push(makeTrace(traceParam, key))

            xLabel = traceParam['xlabel'] + '[' + traceParam['xunits'] + ' ]'
            layout = makeLayout(traceParam['title'], xLabel, traceParam['yaxis'])

            div = document.getElementById(key+'_chart')
            Plotly.newPlot(div, [trace], layout);
        }