doctype html
html(lang='en')
    head
        title=title
        meta(charset='utf-8')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type="text/javascript", src='https://cdn.plot.ly/plotly-latest.min.js')
        link(rel='stylesheet', href='/stylesheets/external-css/bootstrap.css')
        script(src='/javascripts/external-js/FileSaver.min.js')
        script(src='/javascripts/external-js/jquery.min.js')
        script(src='/javascripts/external-js/bootstrap.min.js')
        script(src='/javascripts/external-js/tableexport.min.js')
    body

    block content
        div(class='top')
            #pres_v_temp_plot
        div(class='bottom')
            #pres_v_psal_plot
        p Disclaimer: profiles with Iridium (Positioning System GPS) plot only 200 points max.

        button.btn.btn-primary.btn-block(type='submit', id='downloadProfiles') Download data as JSON
        div
        a(href='/catalog/platforms/'+ title + '/page2' target='_blank') To platform PT, PS, and TS plot pages
        div
        a(href='/map' ) To main page
        table(class="table table-striped", id='profileTable')
            thead
                tr
                    th Raw Data
                    th Dac
                    th Parameters
                    th Positioning System
                    th Link to profile page
                    th Date reported
                    th Cycle number
                    th Number of measurements
            tbody(overflow='auto', height='150px')
                each profile, i in JSON.parse(profiles)
                    tr
                        td 
                            a(href=profile.nc_url) #{profile._id} data
                        td #{profile.dac}
                        td #{profile.station_parameters}
                        td #{profile.POSITIONING_SYSTEM}
                        td 
                            a(href='/catalog/profiles/'+profile._id + '/page' target='_blank') #{profile._id} page
                        td #{moment(profile.date).format("YYYY-MM-DD HH:mm")}
                        td #{profile.cycle_number}
                        td #{profile.measurements.length}

    script(type='text/javascript').

        TableExport(document.getElementsByTagName("table"), {
            headers: true,                              // (Boolean), display table headers (th or td elements) in the <thead>, (default: true)
            footers: true,                              // (Boolean), display table footers (th or td elements) in the <tfoot>, (default: false)
            formats: ['csv', 'xlsx', 'xls', 'txt'],             // (String[]), filetype(s) for the export, (default: ['xls', 'csv', 'txt'])
            filename: !{title}+'_table',                             // (id, String), filename for the downloaded file, (default: 'id')
            bootstrap: true,                           // (Boolean), style buttons using bootstrap, (default: true)
            exportButtons: true,                        // (Boolean), automatically generate the built-in export buttons for each of the specified formats (default: true)
            position: 'bottom',                         // (top, bottom), position of the caption element relative to table, (default: 'bottom')
            ignoreRows: null,                           // (Number, Number[]), row indices to exclude from the exported file(s) (default: null)
            ignoreCols: null,                           // (Number, Number[]), column indices to exclude from the exported file(s) (default: null)
            trimWhitespace: true                        // (Boolean), remove all leading/trailing newlines, spaces, and tabs from cell text in the exported file(s) (default: false)
        });

    script(type='text/javascript').

        let combinedProfiles = {};
        combinedProfiles.psal = [];
        combinedProfiles.pres = [];
        combinedProfiles.temp = [];
        combinedProfiles.cycle = [];
        let profiles = !{profiles};


        $('#downloadProfiles').on('click', function(){
            var url = '/catalog/platforms/' + `#{title}`;
            window.open(url,'_blank');
        });

        const collateProfileMeasurements = function(profile) {
            var collatedProfiles = {};
            let num_measurements = profile.length;
            collatedProfiles.pres = new Array(num_measurements);
            collatedProfiles.temp = new Array(num_measurements);
            collatedProfiles.psal = new Array(num_measurements);

            for (var i = 0; i < num_measurements; ++i) {
                collatedProfiles.pres[i] = profile[i].pres;
                collatedProfiles.temp[i] = profile[i].temp;
                collatedProfiles.psal[i] = profile[i].psal;
            }
            return collatedProfiles;
        }

        const reduceProfileMeasurements = function(combinedProfiles, n) {
            var reducedProfiles = {}

            reducedProfiles.pres = [];
            reducedProfiles.temp = [];
            reducedProfiles.psal = [];
            reducedProfiles.cycle = [];

            for(let i = 0; i < combinedProfiles.pres.length; i+=n) {
                reducedProfiles.pres.push(combinedProfiles.pres[i]);
                reducedProfiles.temp.push(combinedProfiles.temp[i]);
                reducedProfiles.psal.push(combinedProfiles.psal[i]);
                reducedProfiles.cycle.push(combinedProfiles.cycle[i]);
            }
            return reducedProfiles;
            }

        const filterQCMeasurements = function(profile, qcThresh) {
            var filteredProfile = [];
            let num_measurements = profile.length;
            for (var i = 0; i < num_measurements; i++) {
                var row = {};
                if (profile[i].pres_qc === qcThresh) {
                    row.pres = profile[i].pres;
                    if (profile[i].temp_qc === qcThresh) {
                        row.temp = profile[i].temp
                    }
                    else {
                        row.temp = -999
                    }
                    if (profile[i].psal_qc === qcThresh) {
                        row.psal = profile[i].psal
                    }
                    else {
                        row.psal = -999
                    }
                    filteredProfile.push(row)
                }
            }
            return filteredProfile;
        }

        const reduceGPSMeasurements = function(profile, maxLength) {
            if (profile.POSITIONING_SYSTEM === 'GPS') {
                mLen = profile.measurements.length;
                if (mLen > maxLength) {
                    //reduce array length to so that only every delta element is plotted
                    var delta = Math.floor( mLen / maxLength );
                    var reducedMeasurements = [];
                    for (var j = 0; j < mLen; j=j+delta) {
                        reducedMeasurements.push(profile.measurements[j])
                    }
                    return reducedMeasurements
                }
                else {
                    return profile.measurements;
                }
            }
            else {
                return profile.measurements;
            }
        }

        for(var i=0; i < profiles.length; i++) {
            var profileMeas = reduceGPSMeasurements(profiles[i], 200);
            //let profileMeas = profiles[i].measurements;
            profileMeas = filterQCMeasurements(profileMeas, '1'); // replaces qc values higher than the qcThresh values with ''
            profileMeas = collateProfileMeasurements(profileMeas);
            combinedProfiles.psal = combinedProfiles.psal.concat(profileMeas.psal);
            combinedProfiles.pres = combinedProfiles.pres.concat(profileMeas.pres);
            combinedProfiles.temp = combinedProfiles.temp.concat(profileMeas.temp);

            let meas_idx = [];
            for (var j=0; j<profileMeas.pres.length; j++) {
                meas_idx.push(profiles[i].cycle_number); //just an array of cycle number
            }
            combinedProfiles.cycle = combinedProfiles.cycle.concat(meas_idx);
        };

        var tempScl = [[0.0, 'rgb(3, 35, 51)'],
                        [0.125, 'rgb(24, 51, 124)'],
                        [0.25, 'rgb(86, 59, 156)'],
                        [0.375, 'rgb(130, 79, 142)'],
                        [0.5, 'rgb(176, 95, 129)'],
                        [0.625, 'rgb(222, 112, 100)'],
                        [0.75, 'rgb(249, 147, 65)'],
                        [0.875, 'rgb(249, 198, 65)'],
                        [1.0, 'rgb(231, 250, 90)']];

        var psalScl = [[0.0, 'rgb(41, 24, 107)'],
                        [0.125, 'rgb(31, 51, 161)'],
                        [0.25, 'rgb(15, 91, 144)'],
                        [0.375, 'rgb(40, 119, 137)'],
                        [0.5, 'rgb(59, 147, 135)'],
                        [0.625, 'rgb(79, 176, 125)'],
                        [0.75, 'rgb(122, 203, 102)'],
                        [0.875, 'rgb(195, 221, 100)'],
                        [1.0, 'rgb(253, 238, 153)']];
        //scatterGL has difficulty with long decimal points when distinguishing color
        function roundArray(value){return(Number(value).toFixed(1))}

        const getEmptyIdx = function(array) {
            var indices = [];
            var element = -999;
            var idx = array.indexOf(element);
            while (idx != -1) {
                indices.push(idx);
                idx = array.indexOf(element, idx + 1);
            }
            return(indices);
        }

        //zeros signify empty values. These need to be removed from the arrays that will be used to make traces.
        var temp = combinedProfiles.temp;
        var psal = combinedProfiles.psal;
        presForTemp = combinedProfiles.pres.map(function(element) { return (element * -1) }); //flipping pres axis
        presForPsal = presForTemp; //initialize
        var cycleForTemp = combinedProfiles.cycle;
        var cycleForPsal = combinedProfiles.cycle;

        tempEmptyIdx = getEmptyIdx(temp);
        psalEmptyIdx = getEmptyIdx(psal);

        //drop instances from arrays where temp is -999.
        var i = tempEmptyIdx.length
        while(i--) {
            idx = tempEmptyIdx[i];
            presForTemp.splice(idx, 1, -999);
            cycleForTemp.splice(idx, 1,-999);
        }

        temp = temp.filter(function(value){ if (value != -999) {return(value)}})
        presForTemp = presForTemp.filter(function(value){ if (value != -999) {return(value)}})
        cycleForTemp = cycleForTemp.filter(function(value){ if (value != -999) {return(value)}})
        /*
        console.log(tempEmptyIdx)
        console.log(presForTemp.length)
        console.log(cycleForTemp.length)
        console.log(temp.length)
        console.log(temp[94])
        */

        //drop instances from arrays where psal is -999.
        var i = psalEmptyIdx.length
        while(i--) {
            idx = psalEmptyIdx[i];
            presForPsal.splice(idx, 1, -999);
            cycleForPsal.splice(idx, 1, -999);
        }

        psal = psal.filter(function(value){ if (value != -999) {return(value)}})
        presForPsal = presForPsal.filter(function(value){ if (value != -999) {return(value)}})
        cycleForPsal = cycleForPsal.filter(function(value){ if (value != -999) {return(value)}})

        const measurements = {'pres_v_temp': {'xvalues': cycleForTemp,
                                                'yvalues': presForTemp.map(roundArray),
                                                'cvalues': temp.map(roundArray),
                                                'text': 'temperature: ',
                                                'yaxis': 'y2',
                                                'xaxis': 'x1',
                                                'colorscale': tempScl,
                                                'colorbar': {
                                                        title: "Temperature [Celsius]", 
                                                        len: 1, 
                                                        yanchor: "middle"
                                                        }},
                                'pres_v_psal': {'xvalues': cycleForPsal,
                                                'yvalues': presForPsal.map(roundArray),
                                                'cvalues': psal.map(roundArray),
                                                'text': 'salinity: ',
                                                'yaxis': 'y1',
                                                'xaxis': 'x1',
                                                'colorscale': psalScl,
                                                'colorbar': {
                                                        title: "Salinity [ppm]", 
                                                        len: 1, 
                                                        yanchor: "middle"
                                                        }}
                                };

        const makeText = function(text, value) {
                return("<br> " + text + value.toString()
                     + "<br>click to see profile page"
                )
        };

        const makeTrace = function(key) {
            let meas = measurements[key];
            scatterTrace = {
                y: meas.yvalues,
                x: meas.xvalues,
                text: meas.cvalues.map(function(value) { return makeText(meas.text, value); }),
                showlegend: false,
                type: 'scattergl',
                mode: 'markers',
                marker: { color: meas.cvalues,
                            size: 5,
                            symbol: 'dot',
                            opacity: 1,
                            reversescale: false,
                            colorscale: meas.colorscale,
                            colorbar: meas.colorbar,
                        },
                name: key, 
            }
            return [scatterTrace];
        };

        var temp_layout = {
            title: "Temperature measurements",  
            height: 400, 
            width: 1200, 
            //autosize: false, 
            yaxis: {
                showticklabels: true,
                //autorange: 'reversed', 
                type: "linear", 
                title: "-Pressure [dbar]"
            },
            xaxis: {
                autorange: true, 
                type: "linear", 
                title: "Cycle"
            }, 
            hovermode: "closest", 
            showlegend: true
        };

        var psal_layout = {
            title: "Salinity measurements",  
            height: 400, 
            width: 1200, 
            //autosize: false, 
            yaxis: {
                showticklabels: true, 
                //autorange: 'reversed',
                type: "linear", 
                title: "-Pressure [dbar]"
            },
            xaxis: {
                autorange: true, 
                type: "linear", 
                title: "Cycle"
            }, 
            hovermode: "closest", 
            showlegend: true
        };
        Plotly.plot('pres_v_temp_plot',
                    makeTrace( 'pres_v_temp'),
                    temp_layout);
        Plotly.plot('pres_v_psal_plot', 
                    makeTrace('pres_v_psal'),
                    psal_layout);

        // Upon click a new tab opens to the corresponding profile.
        pres_v_temp_plot.on('plotly_click', function(data){
            let xidx = data.points[0].pointNumber
            var profile_id = !{title} + '_' + data.points[0].data.x[xidx];
            var url = '/catalog/profiles/' + profile_id + '/page';
            window.open(url,'_blank');
        });

        pres_v_psal_plot.on('plotly_click', function(data){
            let xidx = data.points[0].pointNumber
            var profile_id = !{title} + '_' + data.points[0].data.x[xidx];
            var url = '/catalog/profiles/' + profile_id + '/page';
            window.open(url,'_blank');
        });