doctype html
html(lang='en')
    head
        title=title
        meta(charset='utf-8')
        script(type="text/javascript", src='https://cdn.plot.ly/plotly-latest.min.js')
    body

    block content
        h1 Profile Id: #{title}
        p Date: #{profile.date}
        p Platform: #{profile.platform_number}
        p Cycle number: #{profile.cycle_number}
        p Dac: #{profile.dac}
        p Parameters: #{profile.station_parameters}
        p Data source:
        a(href=profile.nc_url) #{profile.nc_url}
        #TPS_CHART

        script(type='text/javascript').

            const psal = [!{profile.measurements.psal}];
            const pres = [!{profile.measurements.pres}];
            const temp = [!{profile.measurements.temp}];
            const measurements = {'temp_v_psal': {'yvalue': temp, 'xvalue': psal,'yaxis': 'y1', 'xaxis': 'x1'},
                            'pres_v_psal': {'yvalue': pres, 'xvalue': psal, 'yaxis': 'y2', 'xaxis': 'x2'},
                            'pres_v_temp': {'yvalue': pres, 'xvalue': temp, 'yaxis': 'y3', 'xaxis': 'x3'}
                           };

            const makeTrace =function(key) {
                meas = measurements[key];
                return {
                    y: meas.yvalue,
                    x: meas.xvalue,
                    xaxis: meas.xaxis,
                    yaxis: meas.yaxis,
                    mode: 'markers',
                    type: 'scatter',
                    name: key
                };
            }

            const layout = {
                title: "Profile measurements",
                autosize: false,
                height: 800, 
                width: 1200, 

                xaxis3: {
                    anchor: "y3", 
                    autorange: true,
                    title: "Temperature [Celsius]"
                }, 
                xaxis2: {
                    anchor: "y2", 
                    autorange: true,
                    title: "Salinity [psi]"
                }, 
                xaxis: {
                    autorange: true, 
                    title: "Salinity [psi]"
                },
                yaxis3: {
                    autorange: 'reversed', 
                    type: "linear", 
                    domain: [
                        0.733, 
                        1
                    ], 
                    title: "Pressure [dbar]"
                },  
                yaxis2: {
                    autorange: 'reversed',
                    domain: [
                        0.366, 
                        0.633
                    ], 
                    title: "Pressure [dbar]",
                }, 
                yaxis: {
                    autorange: true, 
                    domain: [
                        0, 
                        0.266
                    ], 
                    title: "Temperature [Celsius]"
                }, 
                hovermode: "closest", 
                showlegend: false
            };
            Plotly.plot('TPS_CHART',
                        ['pres_v_temp', 'pres_v_psal', 'temp_v_psal'].map(makeTrace),
                        layout);